<!--<form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form>-->

<header id="site-header" class="site-header">
    <div class="container">

      <a href="#offcanvas-slide" class="uk-button uk-button-default" uk-toggle>Open</a>

      <div id="offcanvas-slide" uk-offcanvas>
          <div class="uk-offcanvas-bar">

              <ul class="uk-nav uk-nav-default">
                  <li class="uk-active"><a href="#">Active</a></li>
                  <li><a href="#">Item</a></li>
                  <li class="uk-nav-header">Header</li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="#">Item</a></li>
              </ul>

          </div>
      </div>

    </div>
</header>
